.App {
  
}
.card{
  display: flex;
  margin-top: 20%;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 20%;
  height: 50%;
  width: 50%;
  background-color: azure;
  justify-content: center;
  flex-direction: column;
}
.title{
  text-align: center;
}
.logo{
  height: 330px;
}
.button{
  background-color: lightsalmon;
  display: flex;
  width: 100%;
}
.green{
  background-color: #5ccd8b;
  width: 25%;
  margin-left: 75%;
 }
.red{
  background-color: rgb(252, 0, 0);
  width: 25%;

}